<h2>Reactive <small>Dinamicos</small></h2>
<hr>

<form autocomplete="off" [formGroup]="formulario" (ngSubmit)="guardar()">
  <div class="row mb-3">
    <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input id="nombre" type="text" class="form-control" placeholder="nombre" formControlName="nombre">
      <span [appMostrar]="esCampoInvalido('nombre')" class="form-text text-danger">Este campo es obligatorio</span>
    </div>
  </div>
  <div class="row mb-3">
    <label for="agregar" class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input id="agregar" type="text" class="form-control"
          placeholder="agregar favorito" [formControl]="nuevoFavorito"
          (keyup.enter)="agregarFavorito()">
        <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">Agregar</button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="favoritos" class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favoritos">
      <div class="input-group mb-1" *ngFor="let fav of favoritosArr.controls; let i = index;

      ">
        <input id="favoritos" type="text" class="form-control" [formControlName]="i">
        <button class="btn btn-outline-danger" type="button" (click)="borrar(i)">borrar</button>
      </div>
    </div>
  </div>

  <div class="row mb-3 mt-3">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>

  <div class="row">
    <pre>{{formulario.value| json}}</pre>
    <span>formulario valid</span>
    <pre>{{formulario.valid}}</pre>
    <span>nuevo favorito</span>
    <pre>{{nuevoFavorito.value | json}}</pre>
  </div>
</form>
