<div class="row">
  <div class="col">
    <h1>Informacion Usuario</h1>
  </div>
</div>
<div class="row">
  <button (click)="loadUser(id()-1)" class="btn btn-primary col m-2">usuario anterior</button>
  <button (click)="loadUser(id()+1)" class="btn btn-primary col m-2">usuario siguiente</button>
</div>
<div class="row">
  <div class="col">
    <h3>Usuario Actual: {{id() | number: "4."}}</h3>
    <div *ngIf="currentUser() == undefined ; else show_user_data" class="alert alert-warning" role="alert">
      Usuario no encontrado
    </div>
    <ng-template #show_user_data>
      <form>
        <div class="form-group row">
          <label for="nombre" class="col-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="email" class="form-control-plaintext" id="nombre" aria-describedby="emailHelp"
              value="{{currentUser()?.data?.first_name}}" readonly>
          </div>
        </div>
      </form>
    </ng-template>
  </div>
</div>