# donde #### debe ser el numero del puerto utilizado
# donde $$$$ es el nombre de la db de mongo a la que se quiere conectar
MONGO_URL=mongodb://localhost:####/$$$$

# key DE JWT utilizada para firmar
JWT_SEED=####################