<h2>Template</h2>
<hr>
<ul class="list-group">
  <li *ngFor="let ruta of templateMenu" class="list-group-item list-group-item-action" [routerLink]="ruta.ruta"
    routerLinkActive="active">{{ruta.texto}}
  </li>
</ul>

<h2>Reactive</h2>
<hr>
<ul class="list-group">
  <li *ngFor="let ruta of reactiveMenu" class="list-group-item list-group-item-action" [routerLink]="ruta.ruta"
    routerLinkActive="active">{{ruta.texto}}
  </li>
</ul>

<h2>Validaciones</h2>
<hr>

<ul class="list-group">
  <li *ngFor="let ruta of authMenu" class="list-group-item list-group-item-action" [routerLink]="ruta.ruta"
    routerLinkActive="active">{{ruta.texto}}</li>
</ul>
